body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parent {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 20vh;
}

.content1, .content2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 4rem;
}

.content1 h2 {
  right: 5%;
  margin-top: 2rem ;
  margin-bottom: 2rem;
  position: absolute;
  margin-left: 0;
  color: white;
}

.content2 h2 {
  left: 5%;
  margin-top: 2rem ;
  margin-bottom: 2rem;
  position: absolute;
  margin-right: 0;
  color: white;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    )
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    )
  }
}

.content1 h2:nth-child(1){
  -webkit-text-stroke: 2px;
}

.content1 h2:nth-child(2){
  color: black;
  animation: animate 4s ease-in-out infinite;
}

.content2 h2:nth-child(1){
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.content2 h2:nth-child(2){
  color: white;
  animation: animate 4s ease-in-out infinite;
}

.app-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0rem, 1rem;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tumb-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0.2rem;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 1px;
  min-width: 160px;
  width: 200px;
  box-shadow: 0 13px 15px rgba(0, 0, 0, 0.01);
  transition: transform 0.3s ease-in-out;
}

.tumb-container:hover {
  z-index: 1;
  transform: scale(1.2);
  border-radius: 5px;
}

.tumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.tumb-container img {
  height: 120px;
  width: 120px;
}

h3 {
  text-transform: uppercase;
  text-decoration: underline;
}

.grass {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.grass button {
  background-image: linear-gradient(-225deg,#adee16 0%,#1aca32 100%);
}

.grass button:hover {
  background-image: linear-gradient(-225deg,#1aca32 0%,#adee16 100%);
}

.load-more {
  background-color: #76Daff;
  background-image: linear-gradient(315deg, #76Daff, #fcd000 74%);
  padding: 0.6rem 1.8rem;
  margin: 1rem 0rem;
  color: #444;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.ghost {
  background-image: linear-gradient(to top, #b7b7b8 0%, #e2ebf0 100%);
}

.ghost button {
  background-image: linear-gradient(-225deg,#b7b7b8 0%,#5e5e60 100%);
}

.ghost button:hover {
  background-image: linear-gradient(-225deg,#5e5e60 0%,#b7b7b8 100%);
}

.electric {
  background-image: linear-gradient(to top, #f83600 0%, #f9d423 100%);
}

.electric button {
  background-image: linear-gradient(-225deg,#f83600 0%,#b92600 100%);
}

.electric button:hover {
  background-image: linear-gradient(-225deg,#b92600 0%,#f83600 100%);
}

.bug {
  background-image: linear-gradient(to top, #e6b980 0%, #eac3ad 100%);
}

.bug button {
  background-image: linear-gradient(-225deg,#e6b980 0%,#947946 100%);
}

.bug button:hover {
  background-image: linear-gradient(-225deg,#947946 0%,#e6b980 100%);
}

.poison {
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}

.poison button {
  background-image: linear-gradient(-225deg,#6f456a 0%,#df89b5 100%);
}

.poison button:hover {
  background-image: linear-gradient(-225deg,#df89b5 0%,#6f456a 100%);
}

.normal {
  background-image: linear-gradient(to top, #e3fdf5 0%, #ffe6fe 100%);
}

.normal button {
  background-image: linear-gradient(-225deg,#e98bd6 0%,#e9d7e6 100%);
}

.normal button:hover {
  background-image: linear-gradient(-225deg,#e9d7e6 0%,#e98bd6 100%);
}

.fairy {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 100%);
}

.fairy button {
  background-image: linear-gradient(-225deg,#ff9a9e 0%,#fe6f87 100%);
}

.fairy button:hover {
  background-image: linear-gradient(-225deg,#fe6f87 0%,#ff9a9e 100%);
}

.fire {
  background-image: linear-gradient(to top, #f6d365 0%, #fda085 100%);
}

.fire button {
  background-image: linear-gradient(-225deg,#f6d365 0%,#f98f33 100%);
}

.fire button:hover {
  background-image: linear-gradient(-225deg,#f98f33 0%,#f6d365 100%);
}

.water {
  background-image: linear-gradient(to top, #89f7fe 0%, #66a6ff 100%);
}

.water button {
  background-image: linear-gradient(-225deg,#89f7fe 0%,#4d89cc 100%);
}

.water button:hover {
  background-image: linear-gradient(-225deg,#4d89cc 0%,#89f7fe 100%);
}

.ground {
  background-image: linear-gradient(to top, #772f1a 0%, #3c180e 100%);
}

.ground button {
  background-image: linear-gradient(-225deg,#772f1a 0%,#3c180e 100%);
}

.ground button:hover {
  background-image: linear-gradient(-225deg,#3c180e 0%,#772f1a 100%);
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-wrapper button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  margin: 0.8rem 0.5rem;
  color: rgb(22, 22, 22);
}

.overlay {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  max-width: 100%;
  min-height: 30%;
  max-height: 120%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  border: 2px solid black;
  z-index: 9;
}

.left-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.left-overlay img {
  width: 200px;
  height: auto;
  margin-bottom: 1.5rem;
}

.left-overlay-name {
  font-size: 1.5rem;
}

.right-overlay {
  flex: 2;
  display: flex;
  flex-direction: row;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.right-overlay-table {
  width: 100%;
  border-collapse: collapse;
}